<div class="active" id="main">
    <article>
    <h2 class="major">Promociones</h2>
    <hr />
    <h3>Promocion Valida</h3>
    <h5>Desde: 31-08-2023</h5>
    <h5>Hasta: 01-09-2023</h5>
    <blockquote>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        perferendis iusto nihil sapiente excepturi quas eos aut dignissimos,
        placeat non commodi debitis, beatae dicta sequi laudantium! Illo sunt
        consequuntur magni.
    </blockquote>
    <span class="image main">
        <img src="../../../../assets/images/promotions/pro1.jpg" alt="promo 1" />
    </span>
    <hr />    

    <h3>Promocion Valida</h3>
    <h5>Desde: 01-01-2024</h5>
    <h5>Hasta: 01-02-2024</h5>
    <blockquote>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        perferendis iusto nihil sapiente excepturi quas eos aut dignissimos,
        placeat non commodi debitis, beatae dicta sequi laudantium! Illo sunt
        consequuntur magni.
    </blockquote>
    <span class="image main">
        <img src="../../../../assets/images/promotions/pro3.jpg" alt="promo 1" />
    </span> 
    <hr />

    <h3>Promocion Valida</h3>
    <h5>Desde: 01-03-2024</h5>
    <h5>Hasta: 01-04-2024</h5>
    <blockquote>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        perferendis iusto nihil sapiente excepturi quas eos aut dignissimos,
        placeat non commodi debitis, beatae dicta sequi laudantium! Illo sunt
        consequuntur magni.
    </blockquote>
    <span class="image main">
        <img src="../../../../assets/images/promotions/pro5.jpg" alt="promo 1" />
    </span>
    <hr />
    </article>  
</div>
