		<header id="header">						
			<nav>
				<ul>
					<li><a routerLink="/inicio">Inicio</a></li>
                    <li><a routerLink="/promocion">Promociones</a></li>
                    <li><a routerLink="/evento">Eventos</a></li>
                    <li><a routerLink="/consola">Consolas</a></li>
                    <li><a routerLink="/juego">Juegos</a></li>
                    <li><a routerLink="/signin">Login</a></li>
					<li><a routerLink="/signup">Registrarse</a></li>
					<li><a routerLink="/admin">Sistema</a></li>

				</ul>
			</nav>
		</header>

