<div class="auth-wrapper">
    <div class="auth-content">
      <!-- <div class="auth-bg">
        <span class="r"></span>
        <span class="r s"></span>
        <span class="r s"></span>
        <span class="r"></span>
      </div> -->
      <div class="card">
        <div class="card-body text-center">
          <div class="mb-4">
            <div class="logo-legacy"></div>
          </div>
          <h3 class="mb-4">LEGACY</h3>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nombre" />
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Apellido" />
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Usuario" />
          </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Correo Electronico" />
          </div>
          <div class="input-group mb-4">
            <input type="password" class="form-control" placeholder="Contraseña" />
          </div>
          <!-- <div class="form-group text-start mb-4">
            <div class="checkbox checkbox-fill d-inline">
              <input
                type="checkbox"
                name="checkbox-fill-1"
                id="checkbox-fill-1"
                checked=""
              />
              <label for="checkbox-fill-1" class="cr"> Save Details</label>
            </div>
          </div> -->
          <!-- <div class="form-group text-start mb-3">
            <div class="checkbox checkbox-fill d-inline">
              <input
                type="checkbox"
                name="checkbox-fill-2"
                id="checkbox-fill-2"
              />
              <label for="checkbox-fill-2" class="cr"
                >Send me the <a href="javascript:"> Newsletter</a> weekly.</label
              >
            </div>
          </div> -->
          <a class="btn btn-dark shadow-2 mb-4">Registrarse</a>
          <p class="mb-0 text-muted">
            ¿Ya tienes una cuenta? <a href="#"> Iniciar Sesion</a>
          </p>
        </div>
      </div>
    </div>    
  </div>