<div class="active" id="main">
    <article>
    <h2 class="major">Consolas</h2>
    <hr />

    <h3>Xbox-one</h3>
    <h4>valor por hora: $ 0.50</h4>
    
    <blockquote>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        perferendis iusto nihil sapiente excepturi quas eos aut dignissimos,
        placeat non commodi debitis, beatae dicta sequi laudantium! Illo sunt
        consequuntur magni.
    </blockquote>
    <span class="image main">
        <img src="../../../../assets/images/consolas/con1.webp" alt="promo 1" />
    </span>
    <hr />    

    <h3>xbox-360</h3>
    <h4>valor por hora: $ 0.30</h4>

    <blockquote>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        perferendis iusto nihil sapiente excepturi quas eos aut dignissimos,
        placeat non commodi debitis, beatae dicta sequi laudantium! Illo sunt
        consequuntur magni.
    </blockquote>
    <span class="image main">
        <img src="../../../../assets/images/consolas/con2.webp" alt="promo 1" />
    </span> 
    <hr />

    <h3>Play Station 4</h3>
    <h4>valor por hora: $ 0.60</h4>

    <blockquote>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        perferendis iusto nihil sapiente excepturi quas eos aut dignissimos,
        placeat non commodi debitis, beatae dicta sequi laudantium! Illo sunt
        consequuntur magni.
    </blockquote>
    <span class="image main">
        <img src="../../../../assets/images/consolas/con3.webp" alt="promo 1" />
    </span> 
    <hr />

    <h3>Play Station 5</h3>
    <h4>valor por hora: $ 0.90</h4>

    <blockquote>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        perferendis iusto nihil sapiente excepturi quas eos aut dignissimos,
        placeat non commodi debitis, beatae dicta sequi laudantium! Illo sunt
        consequuntur magni.
    </blockquote>
    <span class="image main">
        <img src="../../../../assets/images/consolas/con4.webp" alt="promo 1" />
    </span> 
    <hr />
    </article>  
</div>
