<div class="active" id="main">
    <article>
    <h2 class="major">Eventos</h2>
    <hr />

    <h3>Torneo Street Figther</h3>
    <h5>Fecha: 31-08-2023</h5>
    <h5>Aforo: 16 participantes</h5>
    <blockquote>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        perferendis iusto nihil sapiente excepturi quas eos aut dignissimos,
        placeat non commodi debitis, beatae dicta sequi laudantium! Illo sunt
        consequuntur magni.
    </blockquote>
    <span class="image main">
        <img src="../../../../assets/images/promotions/pro4.jpg" alt="promo 1" />
    </span>
    <hr />    

    <h3>Fiesta Roblox</h3>
    <h5>Fecha: 01-01-2024</h5>
    <h5>Aforo: 16 participantes</h5>
    <blockquote>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        perferendis iusto nihil sapiente excepturi quas eos aut dignissimos,
        placeat non commodi debitis, beatae dicta sequi laudantium! Illo sunt
        consequuntur magni.
    </blockquote>
    <span class="image main">
        <img src="../../../../assets/images/promotions/pro2.jpg" alt="promo 1" />
    </span> 
    <hr />
    </article>  
</div>