<div class="active" id="main">
  <article>
    <h2 class="major">Inicio</h2>
    <hr />
    <h3>¡Bienvenido a Legacy! 🎮🌟</h3>
    <p>
      En Legacy, nos dedicamos a llevar la emoción del mundo de los videojuegos
      a tu alcance. Somos tu destino número uno para alquilar consolas de
      videojuegos por hora y organizar eventos y torneos llenos de diversión y
      competitividad. 🎉 ¿Estás buscando una experiencia de juego única para ti
      y tus amigos? ¡No busques más! En Legacy, te ofrecemos una amplia
      selección de consolas de última generación y juegos populares, todo
      disponible para alquilar por hora. Ya sea que desees revivir los clásicos
      de la infancia o explorar los últimos lanzamientos, tenemos todo lo que
      necesitas para disfrutar de horas interminables de entretenimiento. 🎮🕹️
      Pero eso no es todo. En Legacy, también nos apasiona crear experiencias
      memorables para nuestros clientes. Desde emocionantes eventos temáticos
      hasta apasionantes torneos, estamos aquí para llevar tu amor por los
      videojuegos al siguiente nivel. Ya sea que estés buscando celebrar una
      ocasión especial o simplemente quieras disfrutar de una noche de diversión
      con amigos, ¡estamos aquí para hacerlo realidad! 🏆🎉 Únete a nosotros en
      Legacy y descubre un mundo de diversión, competencia y camaradería. ¡Es
      hora de dejar tu huella en el legado de los videojuegos! 👾💥
    </p>
    <hr />
    <h3>Redes sociales</h3>
    <ul class="icons">
        <li><a href="https://www.facebook.com/legacyvr.oficial" class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-tiktok"><span class="label">TikTok</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
    </ul>
  </article>
</div>
