
<body class="is-preload">	

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="logo">
				<span class="icon">
					<img src="../../../assets/images/logo_legacy.png" alt="Legacy" width="80" height="auto">
				</span>
			</div>
			<div class="content">
				<div class="inner">
					<h1>Legacy</h1>
				</div>
			</div>
			<nav>
				<app-nav-bar-hori></app-nav-bar-hori>
			</nav>			
		</header>

		<!-- Main -->
		<div id="main">
				<router-outlet></router-outlet>			
		</div>
		
		<!-- Footer -->
		<footer id="footer">
			<p class="copyright">&copy; LEGACY</p>
		</footer>

	</div>

	<!-- BG -->
	<div id="bg"></div>
</body>