<div class="active" id="main">
    <article>
    <h2 class="major">Catalogo de Juegos</h2>
    <hr />

    <h3>Fornite</h3>
    <h4>pegi: +13</h4>
    
    <blockquote>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        perferendis iusto nihil sapiente excepturi quas eos aut dignissimos,
        placeat non commodi debitis, beatae dicta sequi laudantium! Illo sunt
        consequuntur magni.
    </blockquote>
    <span class="image main">
        <img src="../../../../assets/images/juegos/jue1.jpeg" alt="promo 1" />
    </span>
    <hr />    

    <h3>mortal kombat 11</h3>
    <h4>pegi: +18</h4>

    <blockquote>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        perferendis iusto nihil sapiente excepturi quas eos aut dignissimos,
        placeat non commodi debitis, beatae dicta sequi laudantium! Illo sunt
        consequuntur magni.
    </blockquote>
    <span class="image main">
        <img src="../../../../assets/images/juegos/jue2.jpeg" alt="promo 1" />
    </span> 
    <hr />

    <h3>Fifa 23</h3>
    <h4>pegi: +10</h4>

    <blockquote>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        perferendis iusto nihil sapiente excepturi quas eos aut dignissimos,
        placeat non commodi debitis, beatae dicta sequi laudantium! Illo sunt
        consequuntur magni.
    </blockquote>
    <span class="image main">
        <img src="../../../../assets/images/juegos/jue3.jpg" alt="promo 1" />
    </span> 
    <hr />

    </article>  
</div>
